In [59]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder  ## Used to convert strings to numeric value for using t 
from sklearn.metrics import accuracy_score
%matplotlib inline

In [60]:
heart_data = pd.read_csv('heart_disease.csv')
# First 5 rows of datset
heart_data.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [61]:
# Last 5 rows of dataset
heart_data.tail()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
915,916,54,Female,VA Long Beach,asymptomatic,127.0,333.0,True,st-t abnormality,154.0,False,0.0,NaN,NaN,NaN,1
916,917,62,Male,VA Long Beach,typical angina,NaN,139.0,False,st-t abnormality,NaN,NaN,NaN,NaN,NaN,NaN,0
917,918,55,Male,VA Long Beach,asymptomatic,122.0,223.0,True,st-t abnormality,100.0,False,0.0,NaN,NaN,fixed defect,2
918,919,58,Male,VA Long Beach,asymptomatic,NaN,385.0,True,lv hypertrophy,NaN,NaN,NaN,NaN,NaN,NaN,0
919,920,62,Male,VA Long Beach,atypical angina,120.0,254.0,False,lv hypertrophy,93.0,True,0.0,NaN,NaN,NaN,1

In [62]:
# No.of rows and columns in the dataset
heart_data.shape

(920, 16)

In [63]:
# Information about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
 15  num       920 non-null    int64
dtypes: float64(5), int64(3), object(8)
memory usage: 115.1+ KB

In [64]:
# Checking for missing values
heart_data.isnull().sum()

id            0
age           0
sex           0
dataset       0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
num           0
dtype: int64

In [65]:
# Fill missing values in numeric columns with the mean
# Here we used mean because these columns have continous datapoints
heart_data['trestbps'] = heart_data['trestbps'].fillna(heart_data['trestbps'].mean())
heart_data['chol'] = heart_data['chol'].fillna(heart_data['chol'].mean())
heart_data['thalch'] = heart_data['thalch'].fillna(heart_data['thalch'].mean())
heart_data['oldpeak'] = heart_data['oldpeak'].fillna(heart_data['oldpeak'].mean())

# Fill missing values in other columns with the most common value (mode)
## Here we used mode because these columns have repeated values such as true false
heart_data['fbs'] = heart_data['fbs'].fillna(heart_data['fbs'].mode()[0])
heart_data['restecg'] = heart_data['restecg'].fillna(heart_data['restecg'].mode()[0])
heart_data['exang'] = heart_data['exang'].fillna(heart_data['exang'].mode()[0])
heart_data['slope'] = heart_data['slope'].fillna(heart_data['slope'].mode()[0])
heart_data['ca'] = heart_data['ca'].fillna(heart_data['ca'].mode()[0])
heart_data['thal'] = heart_data['thal'].fillna(heart_data['thal'].mode()[0])

C:\Users\VICTUS\AppData\Local\Temp\ipykernel_1908\4289062323.py:10: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  heart_data['fbs'] = heart_data['fbs'].fillna(heart_data['fbs'].mode()[0])
C:\Users\VICTUS\AppData\Local\Temp\ipykernel_1908\4289062323.py:12: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  heart_data['exang'] = heart_data['exang'].fillna(heart_data['exang'].mode()[0])

In [66]:
heart_data.isnull().sum()

id          0
age         0
sex         0
dataset     0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
num         0
dtype: int64

In [67]:
# Statistical measure of data
heart_data.describe()

,id,age,trestbps,chol,thalch,oldpeak,ca,num
count,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000,920.000000
mean,460.500000,53.510870,132.132404,199.130337,137.545665,0.878788,0.227174,0.995652
std,265.725422,9.424685,18.443895,108.957634,25.138494,1.053774,0.628936,1.142693
min,1.000000,28.000000,0.000000,0.000000,60.000000,-2.600000,0.000000,0.000000
25%,230.750000,47.000000,120.000000,177.750000,120.000000,0.000000,0.000000,0.000000
50%,460.500000,54.000000,130.000000,221.000000,138.000000,0.800000,0.000000,1.000000
75%,690.250000,60.000000,140.000000,267.000000,156.000000,1.500000,0.000000,2.000000
max,920.000000,77.000000,200.000000,603.000000,202.000000,6.200000,3.000000,4.000000

In [68]:
# Checking the distribution of num variable
heart_data['num'].value_counts()

num
0    411
1    265
2    109
3    107
4     28
Name: count, dtype: int64

In [69]:
# Convert to binary: 0 = no disease, 1 = disease present
heart_data['num'] = heart_data['num'].apply(lambda x: 1 if x > 0 else 0)
heart_data['num'].value_counts()

num
1    509
0    411
Name: count, dtype: int64

In [70]:
# Distribution is balanced !

In [71]:
## Dividing the dataset into dependent and independent features
x=heart_data.drop(columns='num',axis=1)
y=heart_data['num']

In [72]:
x

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal
0,1,63,Male,Cleveland,typical angina,145.000000,233.0,True,lv hypertrophy,150.000000,False,2.300000,downsloping,0.0,fixed defect
1,2,67,Male,Cleveland,asymptomatic,160.000000,286.0,False,lv hypertrophy,108.000000,True,1.500000,flat,3.0,normal
2,3,67,Male,Cleveland,asymptomatic,120.000000,229.0,False,lv hypertrophy,129.000000,True,2.600000,flat,2.0,reversable defect
3,4,37,Male,Cleveland,non-anginal,130.000000,250.0,False,normal,187.000000,False,3.500000,downsloping,0.0,normal
4,5,41,Female,Cleveland,atypical angina,130.000000,204.0,False,lv hypertrophy,172.000000,False,1.400000,upsloping,0.0,normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,Female,VA Long Beach,asymptomatic,127.000000,333.0,True,st-t abnormality,154.000000,False,0.000000,flat,0.0,normal
916,917,62,Male,VA Long Beach,typical angina,132.132404,139.0,False,st-t abnormality,137.545665,False,0.878788,flat,0.0,normal
917,918,55,Male,VA Long Beach,asymptomatic,122.000000,223.0,True,st-t abnormality,100.000000,False,0.000000,flat,0.0,fixed defect
918,919,58,Male,VA Long Beach,asymptomatic,132.132404,385.0,True,lv hypertrophy,137.545665,False,0.878788,flat,0.0,normal
919,920,62,Male,VA Long Beach,atypical angina,120.000000,254.0,False,lv hypertrophy,93.000000,True,0.000000,flat,0.0,normal

In [73]:
y

0      0
1      1
2      1
3      0
4      0
      ..
915    1
916    0
917    1
918    0
919    1
Name: num, Length: 920, dtype: int64

In [74]:
## Splitting the data into train and test
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=42,stratify=y)

In [75]:
x.shape

(920, 15)

In [76]:
x_train.shape

(690, 15)

In [77]:
x_test.shape

(230, 15)

In [78]:
# Logistic Regression 
model = LogisticRegression()
model.fit(x_train,y_train)

ValueError: could not convert string to float: 'Male'

In [ ]:
# Model accuracy
x_train_prediction = model.predict(x_train)
accuracy = accuracy_score(x_train_prediction , y_train)
accurracy